{% if include.name %}

{% for appk in site.data.apps %}
{% assign app = appk[1] %}
{% if include.name == app.name %}
<div class="mdui-table-fluid">
  <table class="mdui-table mdui-table-hoverable">
    <thead>
      <tr>
        <th>版本</th>
        <th>更新日志</th>
        <th>更新日期</th>
        <th>下载</th>
      </tr>
    </thead>
    <tbody>
    {% for ver in app.list %}
      <tr>
        <td>{{ ver.ver }}</td>
        <td>{{ ver.content }}</td>
        <td>{{ ver.date }}</td>
        <td>
          {% for verd in ver.download %}
          <a class="mdui-btn mdui-color-theme-accent mdui-ripple" onclick="if($('#agreement1').prop('checked'))return true;mdui.snackbar('请先勾选下方复选框。');return false;" href="{{ verd.url }}">{{ verd.name }}</a>
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% endfor %}
  <label class="mdui-checkbox">
    <input id="agreement1" type="checkbox"/>
    <i class="mdui-checkbox-icon"></i>
    我已阅读，完全理解并同意<a href="/eula/">EULA</a>和<a href="/privacy/">隐私条款</a>
  </label>
{% endif %}