<!doctype html>
<html lang="{{ page.lang | default: site.lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    {% seo %}
    
    <link rel="stylesheet" href="https://unpkg.com/mdui@1.0.2/dist/css/mdui.min.css"/>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="manifest" href="/pwa/manifest.json">
    <link rel="icon" href="" type="image/x-icon" title="genouka">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="/assets/js/toc.js" type="text/javascript"></script>
  </head>
  <body class="mdui-theme-layout-auto mdui-theme-primary-teal mdui-theme-accent-blue">
    <div class="wrapper">
      <header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless %}>
        <h1>{{ site.title | default: site.github.repository_name }}</h1> 
        <p>{{ page.description | default: site.description }}</p>
       
        <ul>
        {% for item in site.nav %}
          {% if page.url == item.link %}
            <li style="background-color:#069">
              <a href="{{ item.link }}">
                <strong>{{ item.name }}</strong>
              </a>
            </li>
          {% else %}
            <li><a href="{{ item.link }}">{{ item.name }}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
      </header>
      <section class="mdui-typo">
<div id="toc"></div>

      {{ content }}

      <hr>
      
      <h2>友情链接</h2>
      {% for item in site.links %}
          {% if page.url == item.link %}
              <p><a href="{{ item.link }}">
                <strong>{{ item.name }}</strong>
              </a></p>
          {% else %}
            <p><a href="{{ item.link }}">{{ item.name }}</a></p>
          {% endif %}
        {% endfor %}
      <hr/>
      <p>本站已经支持HTTPS加密和新的HTTP/2.0协议，并且保留HTTP协议方便命令行工具访问。本站无需登录、注册等等，因此无需担心泄露隐私！</p>
      </section>

    </div>
    
    <footer>
      <p>{{ site.extra | default: "extra not found in _config.yml" }}</p>
      <p>{{ site.copyright | default: "copyright not found in _config.yml" }}</p>
    </footer>
    
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
<script src="https://unpkg.com/mdui@1.0.2/dist/js/mdui.min.js"></script>
<script type="text/javascript">
    if(navigator.serviceWorker){
        navigator.serviceWorker
            .register('/sw.js')
            .then((registration) => {console.log('Service Worker Registered. ', registration)})
            .catch((error) => {console.log('ServiceWorker registration failed: ', error)})
    }
</script>
<script type="text/javascript">
{% if page.disableToc == nil %}
$(document).ready(function() {
    $('#toc').toc();
});
{% endif %}
</script>
  </body>

</html>
